<a href="https://colab.research.google.com/github/Sarthak752008/ML/blob/main/40_Missing_Outlier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [14]:
df = pd.read_csv('/content/data_science_job.csv')

In [15]:
num = df.select_dtypes(include='number').columns
cat = df.select_dtypes(include='object').columns

In [27]:
num

Index(['enrollee_id', 'city_development_index', 'experience', 'training_hours',
       'target'],
      dtype='object')

In [26]:
cat

Index(['city', 'gender', 'relevent_experience', 'enrolled_university',
       'education_level', 'major_discipline', 'company_size', 'company_type'],
      dtype='object')

In [16]:
num_col = SimpleImputer(strategy='mean')
cat_col = SimpleImputer(strategy='most_frequent')

In [17]:
df[num] = num_col.fit_transform(df[num])
df[cat] = cat_col.fit_transform(df[cat])

In [18]:
for col in num:
    Q1, Q3 = df[col].quantile([0.25, 0.75])
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df = df[(df[col] >= lower) & (df[col] <= upper)]

In [19]:
df.describe()

,enrollee_id,city_development_index,experience,training_hours,target
count,18114.000000,18114.000000,18114.000000,18114.000000,18114.000000
mean,16876.882467,0.829435,9.938266,55.194342,0.250911
std,9607.839193,0.121196,6.498790,40.517087,0.433549
min,1.000000,0.479000,0.000000,1.000000,0.000000
25%,8586.750000,0.743000,4.000000,23.000000,0.000000
50%,16995.500000,0.899000,9.000000,46.000000,0.000000
75%,25157.500000,0.920000,16.000000,78.000000,1.000000
max,33380.000000,0.949000,20.000000,178.000000,1.000000

In [22]:
print("Missing values count:")
print(df.isnull().sum())

Missing values count:
enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
training_hours            0
target                    0
dtype: int64

In [25]:
for col in num:
    Q1, Q3 = df[col].quantile([0.25, 0.75])
    IQR = Q3 - Q1
    outliers = df[(df[col] < Q1 - 1.5*IQR) | (df[col] > Q3 + 1.5*IQR)]
    print(col, "outliers:", outliers.shape[0])

enrollee_id outliers: 0
city_development_index outliers: 0
experience outliers: 0
training_hours outliers: 350
target outliers: 0